@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: #faf5ff;
  font-weight: 500;
}

.form-control:focus,
.form-select:focus,
.btn:focus,
.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}

.material-icons,
.material-icons-outlined {
  font-size: unset;
  vertical-align: middle;
}

.remember {
  display: flex;
  align-items: end;
}
.remember label {
  margin: 0;
}
.remember .form-check-input {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-right: 12px;
  margin-top: 0;
  border-color: #f9cca5;
  background-color: transparent;
}
.remember .form-check-input:checked {
  background-color: #27ae60;
  border-color: #27ae60;
}

#navbar {
  border-bottom: 1px solid var(--purple-100, #f3e8ff);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  position: sticky;
  top: 0;
}
#navbar .navbar .navbar-brand .logo {
  height: 48px;
}
#navbar .menu .nav-item .nav-link {
  font-size: 12px;
  color: #3b0764;
}
#navbar .menu .nav-item.lang .nav-link .flag {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
}
#navbar .menu .nav-item.lang .nav-link .label {
  font-size: 12px;
  color: #3b0764;
}
#navbar .menu .nav-item.lang .dropdown-menu {
  background-color: #fff;
  padding: 0;
  border: 0;
  border-radius: 10px;
  overflow: hidden;
}
#navbar .menu .nav-item.lang .dropdown-menu .item:first-child .dropdown-item {
  padding-top: 7px;
}
#navbar .menu .nav-item.lang .dropdown-menu .item:last-child .dropdown-item {
  padding-bottom: 7px;
}
#navbar .menu .nav-item.lang .dropdown-menu .item .dropdown-item .flag {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
}
#navbar .menu .nav-item.lang .dropdown-menu .item .dropdown-item .label {
  font-size: 12px;
  color: #3b0764;
}
#navbar .menu .nav-item.lang .dropdown-menu .item .dropdown-item:hover {
  background-color: #f3e8ff;
}
#navbar .menu .nav-item.auth .nav-link .auth-panel {
  border-radius: 500px;
  padding: 4px;
  background-color: #f3e8ff;
}
#navbar .menu .nav-item.auth .nav-link .auth-panel .btn {
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 500px;
  color: #3b0764;
  font-weight: 700;
  transition: 0.2s;
}
#navbar .menu .nav-item.auth .nav-link .auth-panel .btn.active {
  background-color: #fff;
  border: 0;
}
#navbar .menu .nav-item.auth .nav-link .auth-panel .signup {
  font-weight: 500;
}
#navbar .menu .nav-item.auth .nav-link .auth-panel .signup:hover {
  background-color: #fff;
  font-weight: 700;
}

#footer {
  border-top: 1px solid #f3e8ff;
}
#footer .content {
  color: #3b0764;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  flex-wrap: wrap;
}
#footer .content .menu a {
  color: #3b0764;
  text-decoration: none;
  padding: 3px 12px;
}
#footer .content .menu a:hover {
  color: #581c87;
}
#footer .content .social {
  display: grid;
  grid-template-columns: 30px 30px 30px 30px;
  grid-gap: 10px;
}
#footer .content .social .social-link {
  text-decoration: none;
  aspect-ratio: 1/1;
  border-radius: 100px;
  background-color: #f3e8ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .content .social .social-link:hover {
  background-color: #e9d5ff;
}

@media only screen and (max-width: 767px) {
  #footer .content {
    justify-content: flex-start;
    align-items: center;
  }
  #footer .content .menu {
    margin-left: auto;
  }
  #footer .content .menu a {
    padding: 0 8px;
  }
  #footer .content .social {
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 575px) {
  #footer .content {
    justify-content: center;
  }
  #footer .content .copyright {
    width: 100%;
    text-align: center;
  }
  #footer .content .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
#login-panel .content {
  padding: 40px;
  max-width: 420px;
  border-radius: 32px;
  margin: 50px auto;
  font-size: 12px;
  background-color: #fff;
}
#login-panel .content .mb-15px {
  margin-bottom: 15px;
}
#login-panel .content .mb-20px {
  margin-bottom: 20px;
}
#login-panel .content .title {
  color: #3b0764;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}
#login-panel .content .tagline {
  color: #737373;
  font-size: 12px;
  margin: 0;
  margin-bottom: 16px;
}
#login-panel .content .tagline .link {
  color: #3b0764;
  font-weight: 700;
}
#login-panel .content .tagline .link:hover {
  color: #7e22ce;
}
#login-panel .content .forget {
  color: #a855f7;
}
#login-panel .content .forget:hover {
  color: #7e22ce;
}
#login-panel .content label {
  color: #a3a3a3;
  font-size: 14px;
  margin-bottom: 3px;
}
#login-panel .content ::-moz-placeholder {
  color: #a3a3a3;
  font-size: 12px;
}
#login-panel .content ::placeholder {
  color: #a3a3a3;
  font-size: 12px;
}
#login-panel .content .form-control {
  font-size: 12px;
  color: #3b0764;
  padding: 13px;
  border-radius: 16px;
  border: 1px solid #d4d4d4;
}
#login-panel .content .remember {
  color: #737373;
}
#login-panel .content .submit-btn {
  padding: 13px 15px;
  background-color: #581c87;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  width: 100%;
  border-radius: 16px;
}
#login-panel .content .submit-btn:hover {
  background-color: #6b21a8;
}

@media only screen and (max-width: 575px) {
  #login-panel .content {
    padding: 25px;
    border-radius: 24px;
  }
}/*# sourceMappingURL=main.css.map */