#allownce {
    margin-top: 16px;
    .trainer-info {
        background-color: $white;
        padding: 24px;
        border-radius: 6px;
        border-bottom: 5px solid $purple300;
    }
    .student-info {
        margin-top: 16px;
        background-color: $white;
        padding: 24px;
        border-radius: 6px;
        border-bottom: 5px solid $purple300;
    }
}
