#class-days {
    .day {
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #052e16;
        margin-top: 16px;
        padding: 24px;
        border-radius: 5px;
        border-bottom: 3px solid $purple200;
        .day-no {
        }
        .day-name {
        }
        .class-time-detail {
            padding: 6px;
            padding-right: 20px;
            border-radius: 16px;
            border: 1px solid $purple100;
            display: flex;
            .left {
                display: flex;
                align-items: center;
                .border-right {
                    border-right: 1px solid $purple200;
                    padding-right: 12px;
                }
            }
            .icon {
                margin-right: 8px;
                height: 45px;
                width: 45px;
                @include flexCenter;
                background-color: $purple800;
                border-radius: 12px;
                font-size: 21px;
                color: $white;
                &.running {
                    background-color: #3b82f6;
                }
                &.complete {
                    background-color: #22c55e;
                }
                &.change {
                    background-color: #fca5a5;
                }
                &.waiting {
                    background-color: #fbbf24;
                }
            }
            .label {
                color: #525252;
                font-size: 12px;
                font-weight: 500;
            }
            .text {
                color: #052e16;
                font-size: 12px;
                font-weight: 700;
            }
            .right {
                display: flex;
                .time {
                    margin-left: 12px;
                    margin-right: 12px;
                    height: 45px;
                    @include flexCenter;
                    padding: 12px;
                    line-height: 1;
                    background: $purple200;
                    color: $purple950;
                    font-size: 14px;
                    font-weight: 700;
                    border-radius: 12px;
                }
            }
        }
        .button-area {
            width: 277px;
            .btn-detail {
                width: 100%;
                border-radius: 12px;
                background: #22c55e;
                color: $white;
                font-size: 16px;
                font-weight: 700;
                padding: 12px 24px;
                @include flexCenter;
                &.complete {
                    background: $purple950;
                }
                &:hover {
                    opacity: 0.9;
                }
            }
            .duel-btn {
                display: grid;
                grid-template-columns: 148px 1fr;
                grid-gap: 12px;
                .btn-detail {
                    padding: 12px;
                }
                .update {
                    border: 1px solid $purple500;
                    background: $white;
                    color: $purple950;
                    &:hover {
                        background-color: $purple100;
                    }
                }
            }
        }
        .title {
            font-size: 16px;
            font-weight: 700;
        }
    }
}
