#schedule-header {
    border-radius: 6px;
    border-bottom: 5px solid $purple300;
    background: $white;
    padding: 24px;
    display: grid;
    grid-template-columns: 104px 1fr;
    grid-gap: 16px;
    color: $purple950;
    align-items: center;
    .icon {
        width: 104px;
        height: 104px;
        border-radius: 50%;
        background-color: $purple50;
        @include flexCenter;
        img {
            width: 56px;
        }
    }
    .item {
        line-height: 1;
        &:not(&:first-child) {
            border-left: 1px solid $purple300;
            padding-left: 24px;
        }
        .title {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 12px;
        }
        .tag {
            font-size: 18px;
            font-weight: 500;
        }
    }
}
