#sidebar-menu {
    overflow-y: auto;
    height: calc(100% - 76px);
    padding: 24px;
    .nav-item {
        background-color: transparent;
        &:not(&:last-child) {
            margin-bottom: 5px;
        }
        .nav-link {
            padding: 12px;
            border-radius: 6px;
            display: flex;
            align-items: center;
            color: $purple950;
            font-weight: 500;
            .material-icons-outlined {
                font-size: 16px;
                width: 26px;
            }
            &.active {
                background-color: $purple950;
                color: $white;
            }
            &:hover:not(&.active) {
                background-color: $purple100;
            }
        }
        &.collapse-menu {
            .accordion-button {
                background-color: transparent;
                box-shadow: none;
                font-weight: 600;
                &:focus {
                    box-shadow: none;
                    outline: 0;
                }
                &.collapsed {
                    font-weight: inherit;
                }
            }
            .accordion-content {
                padding-left: 24px;
            }
            .accordion-button::after {
                background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><style type="text/css">.st0{fill:none;}.st1{fill:%233B0764;}</style><path class="st0" d="M24,24H0V0h24V24z"/><path class="st1" d="M16.6,8.6L12,13.2L7.4,8.6L6,10l6,6l6-6L16.6,8.6z"/></svg>');
            }
        }
    }
}
