#students {
    margin-top: 10px;
    .student {
        padding: 24px;
        border-radius: 5px;
        background: $white;
        &:not(&:last-child) {
            margin-bottom: 4px;
        }
        color: #052e16;
        .label {
            font-size: 14px;
            font-weight: 400;
        }
        .text {
            font-size: 16px;
            font-weight: 700;
        }
    }

    .attendance.form-switch .form-check-input {
        width: 196px;
        height: 52px;
        border-radius: 16px;
        border: 2px solid $purple200;
        padding: 4px;
        position: relative;
        background-image: none;
        background-color: unset;
        &::after {
            content: "উপস্থিত";
            border-radius: 12px;
            font-size: 16px;
            font-weight: 700;
            color: #16a34a;
            justify-content: center;
            align-items: center;
            line-height: 1;
            display: flex;
            padding: 10px 16px;
            width: 85px;
            position: absolute;
            right: 4px;
            height: calc(100% - 8px);
            top: 4px;
        }
        &::before {
            content: "অনুপস্থিত";
            border-radius: 12px;
            font-size: 16px;
            font-weight: 700;
            display: flex;
            padding: 10px 16px;
            justify-content: center;
            align-items: center;
            width: 99px;
            position: absolute;
            left: 4px;
            height: calc(100% - 8px);
            top: 4px;
            background: #f87171;
            color: $white;
        }
        &:focus {
            box-shadow: none;
            background-image: none;
        }
        &.form-check-input:checked {
            background-image: none;
            background-color: unset;
            &::after {
                background-color: #16a34a;
                color: $white;
            }
            &::before {
                background: unset;
                color: #f87171;
            }
        }
    }
}
