@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$purple50: #faf5ff;
$purple100: #f3e8ff;
$purple200: #e9d5ff;
$purple300: #d8b4fe;
$purple400: #c084fc;
$purple500: #a855f7;
$purple600: #9333ea;
$purple700: #7e22ce;
$purple800: #6b21a8;
$purple900: #581c87;
$purple950: #3b0764;

$nutral50: #fafafa;
$nutral100: #f5f5f5;
$nutral200: #e5e5e5;
$nutral300: #d4d4d4;
$nutral400: #a3a3a3;
$nutral500: #737373;
$nutral600: #525252;
$nutral700: #404040;
$nutral800: #262626;
$nutral900: #171717;
$nutral950: #0a0a0a;

$black: #000;
$white: #fff;

$primary: $purple900;
$body: #faf5ff;
