@import "./variable";
@import "./navbar";
@import "./chart";
#total-count {
    .item {
        background-color: $white;
        padding: 24px;
        border-radius: 24px;
        display: block;
        color: $purple950;
        .top {
            display: flex;
            justify-content: space-between;
            .icon {
                height: 42px;
                width: 42px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $purple50;
                .material-icons {
                    font-size: 20px;
                }
            }
            .arrow {
                visibility: hidden;
                height: 38px;
                width: 38px;
                border-radius: 50%;
                border: 1px solid $purple200;
                display: flex;
                justify-content: center;
                align-items: center;
                .material-icons {
                    font-size: 16px;
                }
            }
        }
        .digit {
            margin-top: 16px;
            margin-bottom: 6px;
            font-size: 24px;
            font-weight: 700;
        }
        .label {
            font-size: 15px;
            font-weight: 400;
        }
        &.link:hover {
            background-color: $purple600;
            color: $white;
            .top {
                .icon {
                    .material-icons {
                        color: $purple950;
                    }
                }
                .arrow {
                    visibility: visible;
                    .material-icons {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
