.app-header {
  background-color: #faf5ff;
  border-bottom: 1px solid #f3e8ff;
}

.app-default,
body {
  background-color: #faf5ff;
}

#kt_header_user_menu_toggle img {
  border-radius: 50%;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar {
  background-color: #3b0764;
}

#kt_app_sidebar_logo {
  background-color: #fff;
}
#kt_app_sidebar_logo .app-sidebar-logo-default {
  height: 60px !important;
}

#kt_app_header_container {
  background-color: #fff;
}

.govt-logo {
  margin-left: 10px;
  margin-left: -15px;
}

#kt_app_header_container {
  border-left: 1px solid #e9d5ff;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link.active {
  background-color: transparent;
  border-radius: 6px;
  background: var(--purple-50, #faf5ff);
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link.active .menu-title {
  color: #3b0764 !important;
  font-weight: 700;
}

.menu-item .menu-link {
  padding: 12px;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link.active .menu-bullet .bullet {
  background-color: #faf5ff;
  color: #faf5ff;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-title {
  color: #faf5ff;
  font-weight: 600;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-heading {
  color: #faf5ff !important;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-arrow::after {
  background-color: #faf5ff;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here) .menu-title,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-title {
  color: #faf5ff;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here) .menu-bullet .bullet,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-bullet .bullet {
  background-color: #faf5ff;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here) .menu-icon,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here) .menu-icon .svg-icon,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here) .menu-icon i,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-icon,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-icon .svg-icon,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-icon i {
  color: #faf5ff;
}

.sidebar-menu-link:not(.active) {
  opacity: 1 !important;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link.active .menu-icon,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link.active .menu-icon .svg-icon,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link.active .menu-icon i {
  color: #525252;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .app-sidebar-logo {
  border-bottom: 1px solid #f3e8ff;
}

#kt_app_main {
  border-left: 1px solid #f3e8ff !important;
}

#kt_app_sidebar_toggle {
  display: none;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item.here > .menu-link .menu-title {
  color: #faf5ff;
  font-size: 16px;
  font-weight: 600;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item.here > .menu-link .menu-icon,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item.here > .menu-link .menu-icon .svg-icon,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item.here > .menu-link .menu-icon i {
  color: #faf5ff;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item.here > .menu-link .menu-icon,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item.here > .menu-link .menu-icon .svg-icon,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item.here > .menu-link .menu-icon i {
  color: #faf5ff;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item.here > .menu-link .menu-arrow::after {
  background-color: #faf5ff;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link.active .menu-arrow::after {
  background-color: #3b0764;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here) .menu-arrow::after,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-arrow::after {
  background-color: #525252;
  background-color: #faf5ff;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link.active .menu-title {
  color: #581c87;
  color: #faf5ff;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-icon,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-icon .svg-icon,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-icon i {
  color: #525252;
  color: #faf5ff;
}

#kt_header_user_menu_toggle img {
  margin-right: 10px;
}

#userInfo.username .userName {
  color: #404040;
  font-weight: 600 !important;
  font-size: 14px !important;
}

#logout-panel {
  background-color: #fff;
  border-radius: 32px;
}
#logout-panel .menu-item .menu-link {
  color: #6c757d;
  font-weight: 600 !important;
}
#logout-panel .logout-btn {
  text-align: right;
  padding: 10px 20px 7px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#logout-panel .logout-btn .logout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9333ea;
  padding: 10px 15px;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  border-radius: 150px;
}
#logout-panel .logout-btn .logout img {
  margin-right: 0 !important;
}

#lang .lang-header {
  display: flex;
  align-items: center;
}
#lang .lang-header .flag {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-right: 5px;
}
#lang .lang-header .label {
  color: #3b0764;
}
#lang .menu-sub-dropdown {
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}
#lang .menu-sub-dropdown .lang-menu {
  display: block;
  color: #3b0764;
  padding: 10px 20px;
  overflow: hidden;
  cursor: pointer;
}
#lang .menu-sub-dropdown .lang-menu:hover {
  background-color: #faf5ff;
}
#lang .menu-sub-dropdown .lang-menu .flag {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-right: 5px;
}
#lang .menu-sub-dropdown .lang-menu .label {
  color: #3b0764;
}

#kt_app_footer {
  background-color: #faf5ff;
  border-top: 1px solid #f3e8ff;
}

#chart .trainee-area {
  background-color: #fff;
  border-radius: 24px;
  padding: 24px;
}
#chart .trainee-area .total-trainee-label {
  color: #737373;
  font-size: 15px;
  font-weight: 500;
}
#chart .trainee-area .top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
#chart .trainee-area .top .arrow {
  color: #3b0764;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  border: 1px solid #e9d5ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#chart .trainee-area .top .arrow .material-icons {
  font-size: 16px;
}
#chart .trainee-area .top .arrow:hover {
  background-color: #f3e8ff;
}
#chart .trainee-area .digit {
  margin-top: -15px;
  color: #3b0764;
  font-size: 24px;
  font-weight: 700;
}
#chart .trainee-area .grid-items {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}
#chart .trainee-area .grid-items .item {
  display: grid;
  grid-template-columns: 152px 1fr;
  grid-gap: 5px;
  align-items: center;
}
#chart .trainee-area .grid-items .item .label {
  color: #3b0764;
  font-size: 13px;
  font-weight: 500;
}
#chart .trainee-area .grid-items .item .progress {
  height: 34px;
  border-radius: 0px 12px 12px 0px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 8px;
}
#chart .trainee-area .grid-items .item .progress.success {
  background: #4ade80;
}
#chart .trainee-area .grid-items .item .progress.danger {
  background: #fb7185;
}
#chart .trainee-area .grid-items .item .progress.primary {
  background: #60a5fa;
}
#chart .trainee-area .grid-items .item .progress.purple {
  background: #c084fc;
}
#chart .trainee-area .grid-items .item .progress.yellow {
  background: #f49d32;
}
#chart .chart {
  background-color: #fff;
  padding: 24px;
  border-radius: 24px;
}
#chart .chart .total-trainee-label {
  color: #737373;
  font-size: 15px;
  font-weight: 500;
}
#chart .chart .top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
#chart .chart .top .arrow {
  color: #3b0764;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  border: 1px solid #e9d5ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#chart .chart .top .arrow .material-icons {
  font-size: 16px;
}
#chart .chart .top .arrow:hover {
  background-color: #f3e8ff;
}
#chart .chart .digit {
  color: #3b0764;
  margin-top: -15px;
  font-size: 24px;
  font-weight: 700;
}
#chart .attendance {
  background-color: #fff;
  border-radius: 24px;
  padding: 24px;
}
#chart .attendance .top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
#chart .attendance .top .arrow {
  color: #3b0764;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  border: 1px solid #e9d5ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#chart .attendance .top .arrow .material-icons {
  font-size: 16px;
}
#chart .attendance .top .arrow:hover {
  background-color: #f3e8ff;
}
#chart .attendance .digit {
  color: #3b0764;
  margin-top: -15px;
  font-size: 24px;
  font-weight: 700;
}

#total-count .item {
  background-color: #fff;
  padding: 24px;
  border-radius: 24px;
  display: block;
  color: #3b0764;
}
#total-count .item .top {
  display: flex;
  justify-content: space-between;
}
#total-count .item .top .icon {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faf5ff;
}
#total-count .item .top .icon .material-icons {
  font-size: 20px;
}
#total-count .item .top .arrow {
  visibility: hidden;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  border: 1px solid #e9d5ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#total-count .item .top .arrow .material-icons {
  font-size: 16px;
}
#total-count .item .digit {
  margin-top: 16px;
  margin-bottom: 6px;
  font-size: 24px;
  font-weight: 700;
}
#total-count .item .label {
  font-size: 15px;
  font-weight: 400;
}
#total-count .item.link:hover {
  background-color: #9333ea;
  color: #fff;
}
#total-count .item.link:hover .top .icon .material-icons {
  color: #3b0764;
}
#total-count .item.link:hover .top .arrow {
  visibility: visible;
}
#total-count .item.link:hover .top .arrow .material-icons {
  font-size: 16px;
}/*# sourceMappingURL=dashboard.css.map */