.material-symbols-outlined {
    font-size: 16px;
    vertical-align: text-top;
}

.page-content {
    box-shadow: 0px 0px 20px 0px rgba(0, 55, 255, 0.02);
    background-color: $white;
    border-radius: 10px;
    overflow: hidden;
    .card {
        border: 0;
        .card-header {
            background-color: transparent;
            border: 0;
            padding: 30px 30px 0 30px;
            .search {
                width: 250px;
            }
        }
        .card-body {
            padding: 23px 30px;
        }
    }
}

.pagination {
    .page-item {
        .page-link {
            font-size: 14px;
        }
    }
}
